@font-face {
    font-family: ProximaNova;
    src: url('./ProximaNovaT-Thin.woff2');
    font-weight: 200;
}

@font-face {
    font-family: ProximaNova;
    src: url('./ProximaNova-Light.woff2');
    font-weight: 300;
}

@font-face {
    font-family: ProximaNova;
    src: url('./ProximaNova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('./ProximaNova-Semibold.woff2');
    font-weight: 500;
}

@font-face {
    font-family: ProximaNova;
    src: url('./ProximaNova-Bold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('./ProximaNova-Extrabld.woff2');
    font-weight: 700;
}
