.footer__slider .slick-slider.slick-initialized {
    margin: 20px 0;
    height: 200px;
}

.footer__slider .slick-slider.slick-initialized div {
    height: 100%;
}

.slider__item-img {
    height: 100%;
    padding: 2px;
    cursor: pointer;
}

.footer__slider .slick-arrow {
    display: none !important;
}

@media screen and (max-width: 960px) {
    .footer__slider .slick-slider.slick-initialized {
        margin: 10px 0;
        height: 150px;
    }
}

@media screen and (max-width: 600px) {
    .footer__slider .slick-slider.slick-initialized {
        margin: 10px 0;
        height: 100px;
    }
}