.home-page__content__slider .slick-slider {
	height: 340px;
}

.slider-img-wrapper {
	height: 270px;
	position: relative;
}

.slider-svg-wrapper {
	z-index: 1;
	right: 30px;
	position: absolute;
	height: 100px;
	width: 100px;
}

.slider-svg-wrapper_dota {
	top: 20px;
	height: 55px;
	width: 55px;
}

.slider-svg-wrapper img {
	height: 100%;
}

.slider-img-wrapper img {
	height: 100%;
}

.content-slider-item {
	cursor: pointer;
	position: relative;
	padding: 0 20px;
}

.content-slider__text {
	display: flex;
}

.content-slider-title {
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 600;
	padding: 13px 15px;
	background: rgba(9, 6, 17, 0.6);
	font-size: 21px;
}

.content-slider-subtitle {
	display: flex;
	width: 100%;
	margin-top: 10px;
}

.content-slider__left {
	display: flex;
	flex-grow: 1;
}

.content-slider__left-item {
	margin-right: 20px;
}

.MuiTypography-root.left-item__down.MuiTypography-body1 {
	font-weight: 800;
	font-size: 18px;
	line-height: 1;
	text-transform: uppercase;
}

.MuiTypography-root.left-item__upper.MuiTypography-body1 {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: -20px;
}

.content-slider__right {
	font-family: 'Poppins', sans-serif;
}

.home-page__content__slider .slick-arrow {
	display: none !important;
}

@media screen and (max-width: 880px) {
	.content-slider__text {
		display: none;
	}
}

@media screen and (max-width: 861px) {
	.content-slider-title {
		font-size: 15px;
	}
}

@media screen and (max-width: 600px) {
	.content-slider-title {
		font-size: 20px;
	}
}
